.ContactCaisseZero {
  transform: translate3d(0, 300px, 0);
}

.containCaisseImg {
  width: 700px;
  height: 520px;
  border-radius: 25px;
  object-fit: cover;
}

.containCaisseZero {
  display: flex;
  justify-content: space-between;
  padding-top: 50px;
}
.numberCaisseZero {
  display: flex;
  flex-direction: column;
  gap: 40px;
}
.ContactCaisseZerospan {
  color: brown;
  font-size: 32px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  /* opacity: 0.4; */
}
.formContact {
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.sous-formContact {
  display: flex;
  gap: 20px;
  align-items: center;
}
.formContactColorLeft {
  color: brown;
  opacity: 0.4;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
}
.formContactColorRight {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
.mobile {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 50%;
}
.mobilefix {
  width: 200px;
  height: 150px;
  object-fit: cover;
  border-radius: 50%;
}
.sous-formContactlogos {
  display: flex;
  gap: 20px;
  align-items: center;
  padding-left: 100px;
}
.iconsreseausocial {
  width: 25px;
  height: 25px;
  cursor: pointer;
  padding: 5px;
  transition: transform 1s;
}
.iconsreseausocial:hover {
  cursor: pointer;
  width: 25px;
  height: 25px;
  background: black;
  border-radius: 50%;
  transform: rotate(360deg);
}
